.arrow{
    width: 4px;
    height: 30px;
    background: gray;
    position: relative;
    margin: 20px auto;
    animation: rotate 1s;
    animation-fill-mode: forwards;
    transform: rotate(var(--begin));
}

.arrow::before{
    content: '';
    width: 13px;
    height: 3px;
    position: absolute;
    background: gray;;
    transform: rotate(45deg);
    top: 0;
    left: -1px
}

.arrow::after{
    content: '';
    width: 13px;
    height: 3px;
    position: absolute;
    background: gray;
    transform: rotate(-45deg);
    top: -0px;
    left: -8px
}


@keyframes rotate{
    form{
        transform: rotate(var(--begin));
    }
    to{
        transform: rotate(var(--end));
    }
}