<div>

    <p>Podsumowanie: {{forecast.weatherSummary}}</p>

    <p>Opis prognozy: {{forecast.weatherDescription}}</p>

    <p>Temperatura maksymalna: {{forecast.temperatureMax}}</p>

    <p>Temperatura minimalna: {{forecast.temperatureMin}}</p>

    <p appDisplay param="windSpeed">Prędkość wiatru: {{forecast.windSpeed}}</p>

    <p appDisplay param="windDirection">Kierunek wiatru: {{forecast.windDirection}}</p>

    <p appDisplay param="cloudinessLevel">Zachmurzenie: {{forecast.cloudinessLevel}}%</p>

    <p appDisplay param="feelsLikeTemp">Temperatura odczuwalna w dzień: {{forecast.feelsLikeTemperatureDay}}</p>

    <p appDisplay param="feelsLikeTemp">Temperatura odczuwalna w nocy: {{forecast.feelsLikeTemperatureNight}}</p>

    <p appDisplay param="humidity">Wilgotność: {{forecast.humidity}}%</p>

    <p appDisplay param="pressure">Ciśnienie: {{forecast.pressure}}</p>

    <ng-container *ngIf="forecast.rain != null ; else Rain">
        <p appDisplay param="rain">Deszcz: {{forecast.rain}}</p>
    </ng-container>
    <ng-template #Rain>
        <p appDisplay param="rain">Deszcz: Brak opadów deszczu.</p>
    </ng-template>
    <br>
    <ng-container *ngIf="forecast.snow != null ; else Snow">
        <p appDisplay param="snow">Śnieg: {{forecast.snow}}</p>
    </ng-container>
    <ng-template #Snow>
        <p appDisplay param="snow"> Śnieg: Brak opadów śniegu</p>
    </ng-template>

    <hr>
</div>