<div>
  
    <ng-container *ngIf="(currentDate | date :'dd.MM') == (forecast.date*1000 | date :'dd.MM'); else NotCurrent">
        <p>Dziś</p>
    </ng-container>
    <ng-template #NotCurrent>
        <p>{{forecast.date*1000 | date :'EEE dd.MM':'+0200':'pl' | titlecase}}</p>
    </ng-template>
        
    <!-- <p>Podsumowanie: {{forecast.weatherSummary | titlecase}}</p> -->

    <p>Opis prognozy: {{forecast.weatherDescription | capitalizeFirst}}</p>

    <p>Temperatura maksymalna: {{forecast.temperatureMax | number: '1.0-0'}}</p>

    <p>Temperatura minimalna: {{forecast.temperatureMin | number: '1.0-0'}}</p>

    <p appDisplay param="windSpeed">Prędkość wiatru: {{forecast.windSpeed * 3.6 | number: '1.0-0'}} km/h</p>

    <p appDisplay param="windDirection">Kierunek wiatru: {{forecast.windDirection}}</p>

    <p appDisplay param="cloudinessLevel">Zachmurzenie: {{forecast.cloudinessLevel}}%</p>

    <p appDisplay param="feelsLikeTemp">Temperatura odczuwalna w dzień: {{forecast.feelsLikeTemperatureDay | number: '1.0-0'}}</p>

    <p appDisplay param="feelsLikeTemp">Temperatura odczuwalna w nocy: {{forecast.feelsLikeTemperatureNight | number: '1.0-0'}}</p>

    <p appDisplay param="humidity">Wilgotność: {{forecast.humidity}}%</p>

    <p appDisplay param="pressure">Ciśnienie: {{forecast.pressure}} hPs</p>

    <ng-container *ngIf="forecast.rain != null ; else Rain">
        <p appDisplay param="rain">Deszcz: {{forecast.rain}} mm</p>
    </ng-container>
    <ng-template #Rain>
        <p appDisplay param="rain">Deszcz: Brak opadów deszczu.</p>
    </ng-template>

    <ng-container *ngIf="forecast.snow != null ; else Snow">
        <p appDisplay param="snow">Śnieg: {{forecast.snow}} mm</p>
    </ng-container>
    <ng-template #Snow>
        <p appDisplay param="snow"> Śnieg: Brak opadów śniegu</p>
    </ng-template>

    <hr>
</div>