<label >Temperatura odczuwalna</label>
<input type="checkbox" [(ngModel)]="displayParams.feelsLikeTemp" >
<label>Ciśnienie</label>
<input type="checkbox" [(ngModel)]="displayParams.pressure" >
<label>Wilgotność</label>
<input type="checkbox" [(ngModel)]="displayParams.humidity" >
<label>Prędkość wiatru</label>
<input type="checkbox" [(ngModel)]="displayParams.windSpeed" >
<label>Kierunek wiatru</label>
<input type="checkbox" [(ngModel)]="displayParams.windDirection" >
<label>Zachmurzenie</label>
<input type="checkbox" [(ngModel)]="displayParams.cloudinessLevel" >
<label>Deszcz</label>
<input type="checkbox" [(ngModel)]="displayParams.rain" >
<label>Śnieg</label>
<input type="checkbox" [(ngModel)]="displayParams.snow" >

